<table width="95%" cellspacing="2" cellpadding="5" border="0" class="stripes">
  <tr><th>Tests passed</th><th>Tests failed</th></tr>
  <tr><td class="pass"><%= total_passed %></td><td <%= total_failed == 0 ? "" : "class=\"fail\""%>><%= total_failed %></td></tr>
</table>

<table width="95%" cellspacing="2" cellpadding="5" border="0" class="stripes">
<tr><th>Test</th><th>Result</th></tr>
<% @tests.each do |t| %>
<tr>
  <td>
  <a href="<%= mangle(t.name) %>.html"><%= t.name %></a>
  </td>
  <% if t.pass? %>
  <td class="pass">pass</td>
  <% else %>
  <td class="fail">fail</td>
  <% end %>
</tr>
<% end %>
</table>
